In [1]:
import pandas as pd
athlete_merged=pd.read_csv('Cleaned_Olympic_Data.csv')

Encoding Sex and Season Columns using Label Binarizer

In [2]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()

athlete_merged["Sex"]=lb.fit_transform(athlete_merged["Sex"])
athlete_merged["Season"]=lb.fit_transform(athlete_merged["Season"])
athlete_merged.head()

,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Event,Medal
0,1,24.0,180.0,80.0,China,CHN,1992,0,Barcelona,Basketball Men's Basketball,0
1,1,23.0,170.0,60.0,China,CHN,2012,0,London,Judo Men's Extra-Lightweight,0
2,1,24.0,175.0,70.0,Denmark,DEN,1920,0,Antwerpen,Football Men's Football,0
3,1,34.0,175.0,70.0,Denmark/Sweden,DEN,1900,0,Paris,Tug-Of-War Men's Tug-Of-War,1
4,0,21.0,185.0,82.0,Netherlands,NED,1988,1,Calgary,Speed Skating Women's 500 metres,0

* Remaining categorical data columns Team,NOC,YEAR,Season,City,Events.
* One option is to encode them using one hot encoding thechnique.
* But it increases number of columns and building a ML model on these columns would increase complexity.
* On the other hand we can encode every value in a cell based on its frquency of occurance.
* Through this we can avoid thousands of columns and ML model can be built easily

In [3]:
#Creating dictionaries which consists Unique value of each column and their count.
team_dict=athlete_merged['Team'].value_counts().to_dict()
NOC_dict=athlete_merged['NOC'].value_counts().to_dict()
city_dict=athlete_merged['City'].value_counts().to_dict()
event_dict=athlete_merged['Event'].value_counts().to_dict()

In [4]:
# Mapping categorical columns with the frequency 
athlete_merged['Team']=athlete_merged['Team'].map(team_dict)
athlete_merged['NOC']=athlete_merged['NOC'].map(NOC_dict)
athlete_merged['City']=athlete_merged['City'].map(city_dict)
athlete_merged['Event']=athlete_merged['Event'].map(event_dict)

In [5]:
athlete_merged.head()

   Sex   Age  Height  Weight  Team   NOC  Year  Season   City  Event  Medal
0    1  24.0   180.0    80.0  4975  5141  1992       0  12977   3280      0
1    1  23.0   170.0    60.0  4975  5141  2012       0  22426    341      0
2    1  24.0   175.0    70.0  3424  3570  1920       0   4292   5733      0
3    1  34.0   175.0    70.0     6  3570  1900       0   7169    170      1
4    0  21.0   185.0    82.0  5718  5839  1988       1   2639    467      0

From the Medal column we can say that our outcome is categorical so we can apply following models on our data and select the one which gives high accuracy.
1) Logistic Regression Model. 
2) KNN(K nearest neighbour) Model.
3) Apply Random Forrest.

In [6]:
import seaborn as sns
sns.pairplot(athlete_merged)

* From the plot we can observe that there are many columns which doesn't have linear relationship with the other columns so we cannot apply linear regression model. Applying linear regression model for our data set would not give good prediction values.
* Intially, we'll apply linear regression model and see if the above identification is true or not. 
* Then we'll work on KNN model as it is less complex to build.
* Later, we'll work on Decision tree model, Random forrest model to check if we can achieve good efficiency.